/* CSS styles for the pop-up window */
    /* .container {
      display: flex;
      align-items: center;
      justify-content: center
    } */
    .beer_image {
      margin-right: 45% !important;
      margin-left: 45% !important;
      /* text-align: center; */
      
    }
    img {
      /* position: normal;  */
      width: 61px;
      height: 61px;
      margin-left: 50%;
      margin-right: 50%;
      /* display: flex; */
      margin: 0 auto;  
      /* position: absolute; */
      /* top: 100px; 
      left: 0;
      right: 0; */
      /* justify-content: center; */
      /* margin: auto; */
      /* text-align: center */
    }  
    .section {
      margin-top: 70px;
    } 
    .hidden {
      display: none
    }
    .popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      /* text-align: center */
    }

    .popup__content {
      background: #C54A21;
      padding: 110px;
      border-radius: 10px;
      box-shadow: 0 0 10px black;
      max-width: 467px;
      max-height: 200px;
      text-align: center;
      /* position: absolute; */
      color: white;
      font-family: Raleway;
      font-style: normal;
      font-size: 20px;
      /* line-height: 37.57px; */
      /* margin-top: 42px; */
      /* margin-left: 45px; */
      /* top: 20px; */
      /* left: 0px;
      right: 0px */
      /* display: flex; */
      /* align-items: center; */
      /* justify-content: center */
    }
    .text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-10%);
    }

    .popup__button {
      background: white;
      color: black;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 15px;
    }
    footer {
      border-top: solid 1px;
      background: #663C20;
      width: 100%;
      height: 40px;
      padding-top: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
    }