/* Why isn't font family working? */
* {
    background-color: #F5F5F5;
  }

/* Changes the text color when user hovers over homepage, saved results, or food pairing title */
a:hover {
    color: #c54a21;
  }

/* Nav bar */
h3:hover {
  color: #c54a21;
  background-image: url('./animated_beer_foam.gif');
  border-radius: 15%;
  overflow: hidden;
}

/* Styling for text above search box */
h5 {
  font-weight: bold;
}

/* Border around beer section */
.column1 {
  border: 8px solid;
  padding: 10px;
  border-image: repeating-linear-gradient(to bottom right, #33475b, #c54a21, #feb204, rgb(255, 122, 89)) 20;
  }

/* Border around food section */
.column2 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 4px 4px #feb204, 8px 8px #c54a21, 12px 12px #334758;
}

.footer {
  background-color: #F5F5F5;
}

.navbar {
  background-color: #F5F5F5;
}