* {
    background-color: #F5F5F5;
    font-family: 
}

a:hover {
    color: #c54a21;
  }

/* Styling for top nav bar */
h3:hover {
    color: white;
    background-image: url('./beerfoam.jpg');
  }

/* Heart for saved pairing */
.fa-heart:hover, .fa-heart:focus {
    color: red;
  }
  
.footer {
  background-color: #F5F5F5;
}

/* Image for footer */
.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url('./animated_beer_foam.gif');
  background-size: cover;
}

.rows {
  background-color: #c54a21;
}