/* Why isn't font family working? */

/* Effect when user mouses over nav bar links */
a:hover {
  background-image: url('./animated_beer_foam.gif');
  border-radius: 9px;
  overflow: hidden;
}

body {
  background-color: #E5E4E2;
}

/* Styling for text above search box */
h5 {
  font-weight: bold;
}

/* Border around beer section */
.column1 {
  background-color: #feb204;
  background-image: url(./Wheat.jpg);
  background-size: cover;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px #feb204, 9px 9px #c54a21, 13px 13px #334758;
}

/* Border around food section */
.column2 {
  background-color: #ffcfa8;
  background-image: linear-gradient(90deg, #ffcfa8 0%, #ffe29d 50%, #ffffff 100%);
  border: 1px solid;
  padding: 10px;
  box-shadow: 4px 4px #feb204, 8px 8px #c54a21, 12px 12px #334758;
}

.footer {
  background-color: #E5E4E2;
}

/* Resizes the beer image*/
#beerImage {
  height: 52vh;
}

/* Effect when user has mouse over food pairings */
#food-links:hover p {
  background-image: url('./animated_beer_foam.gif');
  border-radius: 10px;
  overflow: hidden;
}



