  /* Effect when user mouses over nav bar links */
  a:hover {
    background-image: url('./animated_beer_foam.gif');
    border-radius: 9px;
    overflow: hidden;
  }

  body {
    background-color: #feb204;
    background-image: url(./wallpaper1_beerandfood.jpg);
    background-size: cover;
  }

  .columns {
    padding-top: 45px;
  }

  .footer {
    margin-top: 300px;
  }

  /* Effect when user hovers over contact form fields
  .input, .textarea {
    opacity: 0.5;
  }
  
  .input:hover {
    opacity: 1.0;
  }

  .textarea:hover {
    opacity: 1.0;
  }

  .input.is-danger {
    border-color: darkslategray;
} */
.pair-text{
  padding-top: 100px;
}
.pair-container{
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding-bottom: 50px;
}
.saved-Img{
  border: 2px solid black;
  padding: 0px;
}