  /* Effect when user mouses over nav bar links */
  a:hover {
    background-image: url('./animated_beer_foam.gif');
    border-radius: 9px;
    overflow: hidden;
  }

  body {
    background-color: #feb204;
    background-image: url(./ContactFormWheat.jpg);
    background-size: cover;
  }
